source ~/.zsh.d/shellenv.zsh
source ~/.zsh.d/options.zsh
source ~/.zsh.d/keybinds.zsh
source ~/.zsh.d/aliases.zsh
source ~/.zsh.d/env.zsh
source ~/.zsh.d/antigen.zsh
source ~/.zsh.d/fzf.zsh
source ~/.zsh.d/path.zsh

source "$(brew --prefix asdf)/libexec/asdf.sh"
eval "$(direnv hook zsh)"
